.pageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.postContainer {
  display: flex;
  flex-direction: column;
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}

.posts {
  margin-top: 100px;
  margin-bottom: 50px;
  font-size: xx-large;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  text-align: center;
}

.postsGroup {
  display: flex;
  align-items: flex-start;
  width: 100%;
}

.postYear {
  font-family: "Unica One", sans-serif;
  font-weight: 600;
  font-size: x-large;
  opacity: 0.5;
  letter-spacing: 2px;
  margin-right: 30px;
  min-width: 80px;
}

.postsList {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

.postItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
  border-bottom: 1px solid #ddd;
  width: 100%;
  transition: border-bottom-color 0.3s ease, transform 0.3s ease;
}

.postItem:hover {
  border-bottom-color: #ff8b59;
  transform: scale(1.01);
}

.postTitle {
  font-size: 1.2rem;
  flex: 1;
  text-align: left;
}

.postDay {
  font-size: 0.9rem;
  text-align: right;
}

a {
  text-decoration: none;
  color: inherit;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.pagination-controls {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

/* Sayfa bağlantı düğmesi stili */
::ng-deep .ngb-pagination .page-item .page-link {
  color: inherit; /* Varsayılan metin rengi */
  background-color: inherit; /* Varsayılan arka plan rengi */
  padding: 10px 15px; /* İç padding */
  text-decoration: none; /* Alt çizgi kaldırma */
  font-size: 20px; /* Yazı boyutu */
  border: none;
}

/* Aktif sayfa düğmesi stili */
::ng-deep .ngb-pagination .page-item.active .page-link {
  background-color: inherit; /* Aktif sayfa arka plan rengi */
  color: #ff8b59; /* Aktif sayfa metin rengi */
  scale: 1.2;
  border: none;
}

/* Sayfa bağlantı düğmesi üzerine gelindiğinde (hover) stili */
::ng-deep .ngb-pagination .page-link:hover {
  background-color: inherit; /* Hover arka plan rengi */
  color: #ff8b59; /* Hover metin rengi */
}

/* Devre dışı sayfa düğmesi stili */
::ng-deep .ngb-pagination .page-item.disabled .page-link {
  color: inherit; /* Devre dışı metin rengi */
  background-color: inherit; /* Devre dışı arka plan rengi */
  border: none;
}

/* İlk ve son sayfa düğmeleri (boundaryLinks) stili */
::ng-deep .ngb-pagination .page-item:first-child .page-link,
::ng-deep .ngb-pagination .page-item:last-child .page-link {
  border: none;
}

/* Mavi çerçeveyi kaldırmak için ekleme */
::ng-deep .ngb-pagination .page-link:focus {
  outline: none; /* Tıklama sonucu görünen mavi çerçeveyi kaldırır */
  box-shadow: none; /* Gölge etkisini kaldırır */
}

.animatedDivs {
  opacity: 0;
  transform: translateY(100px);
  transition: opacity 1s, transform 1s;
}

.animate-on-scroll.animate {
  opacity: 1;
  transform: translateY(0);
}
