<div class="aboutMeContainer">
    <div class="rowFlex">
        <div class="animatedDivs animate-on-scroll">
            <img class="portraitSvg" src="/assets/icons/Me.svg" alt="Portrait of Me">
        </div>
        <div class="animatedDivs animate-on-scroll">
            <h3 class="name">a little bit about me 🧑🏻‍💻</h3>
            <p class="poppins-light">I'm a full-stack developer who thrives on crafting seamless websites. Coding isn't just a job—it's my creative outlet to bring ideas to life, from frontend to backend. Beyond the screen, I find joy in animated worlds, indulging my passion for animes during leisure hours. In my downtime, you'll catch me immersed in a good book. Reading is my cherished pastime, allowing me to unwind, broaden my perspectives, and explore worlds beyond the lines of code.</p>
            <div class="iconContainer animatedDivs animate-on-scroll">
              <img class="socialMediaIcons" src="/assets/icons/github.svg" alt="Github">
              <img class="socialMediaIcons" src="/assets/icons/instagram.svg" alt="Instagram">
              <img class="socialMediaIcons" src="/assets/icons/linkedin.svg" alt="Linkedin">
              <img class="socialMediaIcons" src="/assets/icons/mail.svg" alt="Mail">
              <img class="socialMediaIcons" src="/assets/icons/twitter.svg" alt="Twitter">
            </div>
        </div>
    </div>
  </div>
  