mat-form-field {
  width: 100%;
  max-width: 600px;
  margin-bottom: 20px;
}

.editor {
  display: inline;

  &:focus {
    border-color: #ff8b59;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #ff8b59;
  }
}

.blogContentLabels {
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 2rem;
}

button {
  margin-top: 30px;
  background-color: #ff8b59;
}

.box {
  background-color: inherit !important;
  box-shadow: none;
}

::ng-deep {
  .ql-container.ql-snow {
    border: 1px solid #ddd !important;
    height: 300px;

    &:focus-within {
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #ff8b59;
      border-color: #ff8b59 !important;
    }
  }
}

.adminPageContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 90vh;
}

.form-container {
  margin: 40px;
  outline: 1.5px solid rgba(207, 207, 207, 0.781);
  outline-offset: 75px;
  border-radius: 1px;
}
