<div class="myProjectContainer">
  <div class="animatedDivs animate-on-scroll">
    <h2>Recent projects 🛠️</h2>
  </div>
  <div class="rowFlex">
    <div class="animatedDivs animate-on-scroll cardContainer">
      <div class="titleContainer">
        <h3 class="name">FeedBack App</h3>
        <mat-icon class="themeIcon">
          <span class="material-symbols-outlined">link</span>
        </mat-icon>
      </div>
      <p class="poppins-light">
        A feedback app built to provide feedbacks from teachers and students.
        Provides a dashboard for teachers to view the feedbacks and a portal for
        students to submit feedbacks.
      </p>
    </div>
    <div class="animatedDivs animate-on-scroll cardContainer">
      <div class="titleContainer">
        <h3 class="name">FeedBack App</h3>
        <mat-icon class="themeIcon">
          <span class="material-symbols-outlined">link</span>
        </mat-icon>
      </div>
      <p class="poppins-light">
        A feedback app built to provide feedbacks from teachers and students.
        Provides a dashboard for teachers to view the feedbacks and a portal for
        students to submit feedbacks.
      </p>
    </div>
  </div>
  <div><a class="moreProject" href="/">More Project</a></div>
</div>
