.wellcomeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 175px;
}

.a {
  text-decoration: none;
  padding: 10px;
  display: inline-block;
  transition: background-color 0.3s, color 0.3s;
  border-radius: 8px;
  cursor: pointer;
  margin: 2px;
  width: 160px;
  text-align: center;
}

.a:hover {
  background-color: #ff8b59;
  color: #000814;
}

.name {
  font-size: 6rem;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  margin: 10px;
  letter-spacing: 10px;
  line-height: 100px;
}
p {
  width: 250px;
  text-align: center;
}

.arrow {
  display: inline-block;
  width: 80px;
  height: 80px;
  text-align: center;
  align-items: center;
  margin-top: 100px;
  animation: moveArrow 0.5s infinite alternate; 
}

@keyframes moveArrow {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}

.material-symbols-outlined {
  font-size: 40px;
  width: 80px;
  height: 80px;
}

.animatedDivs {
  opacity: 0;
  transform: translateY(100px); /* Alt kısımdan başlayacak */
  animation: slideUp 1s forwards; /* Yukarı çıkma animasyonu */
}

.animatedDivs:nth-child(1) {
  animation-delay: 0.3s; /* İlk öğe 0.3 saniye gecikmeyle animasyon başlar */
}

.animatedDivs:nth-child(2) {
  animation-delay: 0.6s; /* İkinci öğe 0.6 saniye gecikmeyle animasyon başlar */
}

.animatedDivs:nth-child(3) {
  animation-delay: 0.9s; /* Üçüncü öğe 0.9 saniye gecikmeyle animasyon başlar */
}

/* Animasyon tanımı */
@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(100px); /* Başlangıç pozisyonu */
  }
  100% {
    opacity: 1;
    transform: translateY(0); /* Yukarı kayarak yerine otur */
  }
}
