<div class="wellcomeContainer">

    <div class="animatedDivs"><h1 class="name">Burak Yetis</h1></div>
    <div class="animatedDivs"><p class="poppins-light">A full stack developer, who loves all thins web and
        anime.</p>
    </div>
    <div class="poppins-medium animatedDivs">
        <a class="a ">Get in touch</a><a class="a">Resume</a>
    </div>
    
    <div class="arrow">
        <mat-icon class="material-symbols-outlined" >
            <span>south</span>
        </mat-icon>
    </div>
</div>