.skillsContainer {
  color: #fff4d6;
  display: flex;
  flex-direction: row;
  gap: 200px;
  margin-top: 175px;
  scale: 1.2;
}

.textContainer {
  display: flex;
  width: max-content;
  gap: 10px;
}

.title {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}

@keyframes moveArrow {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}

.animatedDivs {
  opacity: 0;
  transform: translateY(100px);
  transition: opacity 1s, transform 1s;
}

.animate {
  opacity: 1;
  transform: translateY(0);
}

.portraitSvg {
  min-height: 150px;
  max-height: 350px;
  transform: scaleX(-1);
}

.rowFlex {
  display: flex;
  flex-direction: row;
}

.iconContainer {
  margin-right: 180px;
  display: flex;
  justify-content: space-around;
}

.socialMediaIcons {
  background-color: #fff4d6;
  width: 40px;
  padding: 5px;
  border-radius: 10px;
  transition: opacity 0.3s ease-in-out;
  opacity: 0.3;
  cursor: pointer;
}

.socialMediaIcons:hover {
  opacity: 0.9;
}

h2 {
  font-size: xx-large;
  text-decoration: underline;
  margin: 0px;
}

@media screen and (max-width: 992px) {
  .rowFlex {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .portraitSvg {
    min-height: 40px;
    max-height: 200px;
  }

  .name {
    font-size: 2rem;
    line-height: 40px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  p {
    font-size: small;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  .socialMediaIcons {
    background-color: #fff4d6;
    width: 30px;
    padding: 5px;
    border-radius: 10px;
    margin-left: 15px;
    opacity: 0.5;
    transition: opacity 0.3s ease-in-out;
  }

  .iconContainer {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 75px;
    display: flex;
    justify-content: space-between;
  }

  .skillsContainer {
    color: #fff4d6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    margin: auto;
  }
}
