@use "@angular/material" as mat;

$theme: mat.define-theme(
  (
    color: (
      theme-type: light,
      primary: mat.$orange-palette,
    ),
    typography: (
      brand-family: "Comic Sans",
      // Kullanıcı tanımlı yazı tipi
      bold-weight: 900,
      // Kalın ağırlık
      regular-weight: 400,
      // Normal ağırlık
      medium-weight: 500,
      // Orta ağırlık
    ),
    density: (
      scale: -1,
    ),
  )
);

:root {
  @include mat.all-component-themes($theme);
}
